Doppler/Doppler/bin
Doppler/Doppler/obj
Doppler/Doppler.Android/bin
Doppler/Doppler.Android/obj
Doppler/Doppler.iOS/bin
Doppler/Doppler.iOS/obj
Doppler/Doppler.UWP/bin
Doppler/Doppler.UWP/obj
DopplerServer/bin
DopplerServer/obj
SharedTypes/Tokens/key.rcc
SharedTypes/bin/
SharedTypes/obj/
HelperApplication/bin/
HelperApplication/obj/
.idea/
.vs/
.vs/FeddosMessenger/v16/.suo
.vs/FeddosMessenger/DesignTimeBuild/.dtbcache.v2
.vs/FeddosMessenger/v16/.suo
.vs/FeddosMessenger/v16/.suo
.vs/FeddosMessenger/DesignTimeBuild/.dtbcache.v2
.vs/FeddosMessenger/v16/.suo
