<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967847916253-egojm9t3rk9vvpl6oos6jvloigc27jul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967847916253-egojm9t3rk9vvpl6oos6jvloigc27jul</string>
	<key>API_KEY</key>
	<string>AIzaSyBaVXw3AqtQ3k4bSIzMRqg4AgH1Ha_10dc</string>
	<key>GCM_SENDER_ID</key>
	<string>967847916253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.FeddosMessengerApp</string>
	<key>PROJECT_ID</key>
	<string>feddosopenmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>feddosopenmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967847916253:ios:01ef3f8d2018b3b27be134</string>
	<key>DATABASE_URL</key>
	<string>https://feddosopenmessenger.firebaseio.com</string>
</dict>
</plist>